**CMP585 - Structural Bioinformatics**

Cristian Lopes

*Assignment 4*

In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import time

# Load Data

In [2]:
def read_molecule(path):
    atoms = []
    with open(path, 'r') as f:
        for line in f:
            if line.startswith('ATOM'):
                atoms.append({'atom_name': line[12:16].strip(), 
                             'residue_name': line[17:20].strip(),
                             'residue_seq_number': line[22:26].strip(),
                             'x': float(line[30:38].strip()), 
                             'y': float(line[38:46].strip()),
                             'z': float(line[46:54].strip())})
    return pd.DataFrame(atoms)

In [3]:
molecule = read_molecule('./data/1rop.pdb')

In [4]:
molecule.head(20)

   atom_name residue_name residue_seq_number       x      y       z
0          N          MET                  1  31.007  2.290  18.034
1         CA          MET                  1  32.390  2.582  17.546
2          C          MET                  1  32.808  1.432  16.618
3          O          MET                  1  32.375  0.280  16.846
4         CB          MET                  1  33.271  2.428  18.810
5         CG          MET                  1  34.257  3.540  18.961
6         SD          MET                  1  35.104  3.150  20.545
7         CE          MET                  1  33.734  3.285  21.683
8          N          THR                  2  33.714  1.715  15.687
9         CA          THR                  2  34.312  0.620  14.917
10         C          THR                  2  35.377 -0.102  15.718
11         O          THR                  2  35.855  0.431  16.788
12        CB          THR                  2  34.953  1.126  13.554
13       OG1          THR                  2  36.104  1.971  13.955
14       CG2          THR                  2  33.901  1.999  12.806
15         N          LYS                  3  35.824 -1.200  15.190
16        CA          LYS                  3  36.887 -1.985  15.858
17         C          LYS                  3  38.179 -1.233  15.828
18         O          LYS                  3  38.975 -1.183  16.851
19        CB          LYS                  3  37.042 -3.397  15.357

# Q1 - a) Peptide Bond

First of all, we define the symbol of each amino acid.

In [5]:
symbol_to_residue_name = {
    'T': 'THR', 'C': 'CYS', 'P': 'PRO', 'S': 'SER', 'I': 'ILE',
    'V': 'VAL', 'A': 'ALA', 'R': 'ARG', 'N': 'ASN', 'F': 'PHE',
    'L': 'LEU', 'G': 'GLY', 'E': 'GLU', 'D': 'ASP', 'Y': 'TYR',
    'M': 'MET', 'K': 'LYS', 'Q': 'GLN', 'H': 'HIS', 'W': 'TRP'
}

## Load Amino Acids

Then, we load the amino acids from the Protein Data Bank.

In [6]:
AMINOACID_PATH = './data/amino_acids/'
aminoacids = pd.DataFrame()

for f in glob.glob(AMINOACID_PATH + "*.pdb"):
    aminoacids = aminoacids.append(read_molecule(f))

Right now, we have a dictionnary of amino acids containing the position of each atom inside the amino acid.

## Translation and rotation

Next step is to replace each symbol of the primary structure by its corresponding residue. First, we define a translation and a rotation function to move and rotate the next amino acid given the position of the previous aminoacid.

In [7]:
def translate(aminoacid, translation):
    aminoacid[['x', 'y', 'z']] = aminoacid[['x', 'y', 'z']] + translation
    return aminoacid

In [8]:
def translation_to_origin(aminoacid, ref_atom='N'):
    ref_translation = aminoacid[aminoacid.atom_name == ref_atom][['x', 'y', 'z']].values.reshape(-1)
    return ref_translation, translate(aminoacid, -ref_translation)
    

def rotate(aminoacid, angle_x, angle_y, angle_z):  
    Rx = [[1, 0, 0], [0, np.cos(angle_x), -np.sin(angle_x)], [0, np.sin(angle_x), np.cos(angle_x)]]
    Ry = [[np.cos(angle_y), 0, np.sin(angle_y)], [0, 1, 0], [-np.sin(angle_y), 0, np.cos(angle_y)]]
    Rz = [[np.cos(angle_z), -np.sin(angle_z), 0], [np.sin(angle_z), np.cos(angle_z), 0], [0, 0, 1]]
    R = np.dot(np.dot(Rx, Ry), Rz)
    
    ref_translation, aminoacid = translation_to_origin(aminoacid)
    aminoacid[['x', 'y', 'z']] = R.dot(aminoacid[['x', 'y', 'z']].values.T).T
    aminoacid = translate(aminoacid, ref_translation)
    
    return aminoacid

## Peptide Bond  Formation

A peptide bond is a chemical bond formed between two molecules when the carboxyl group of one molecule reacts with the amino group of the other molecule, releasing a molecule of water (H2O). So, given the position of the Oxygen of the carboxyl group of the previous molecule and the position of the Nitrogen of the next molecule, we can translate the next molecule in order for its Nitrogen to be around the Oxygen position of the previous molecule.

In [9]:
sequence = 'MTKQEKTALNMARFIRSQTLTLLEKLNELDADEQADICESLHDHADELYRSCLARFGDDGENL'

In [18]:
def _calculate_translation(previous_aminoacid, next_aminoacid):
    o_pos = previous_aminoacid[previous_aminoacid.atom_name == 'OC'][['x', 'y', 'z']].values.reshape(-1)
    n_pos = next_aminoacid[next_aminoacid.atom_name == 'N'][['x', 'y', 'z']].values.reshape(-1)
    return o_pos - n_pos

def remove_H2O(aminoacid):
    return aminoacid[~aminoacid.atom_name.isin(['OC', 'HC', '1H'])]

def _assemble_3D_structure(sequence, aminoacids_df):
    protein = pd.DataFrame(data=None, columns=['atom_name', 'residue_name', 'residue_seq_number', 'x', 'y', 'z'])    
    previous_aminoacid = None
    
    for i, r in enumerate(sequence):
        aminoacid = aminoacids_df[aminoacids_df.residue_name == symbol_to_residue_name[r]].copy()
              
        if previous_aminoacid is not None:
#             peptide_group = 'cis' if r == 'P' else 'trans'
            translation = _calculate_translation(previous_aminoacid, aminoacid)
            aminoacid = translate(aminoacid, translation)
        
        aminoacid['residue_seq_number'] = str(i)
        
        previous_aminoacid = aminoacid
        
        aminoacid = remove_H2O(aminoacid)
        protein = protein.append(aminoacid, sort=True, ignore_index=True)
     
    return protein

In [19]:
protein = _assemble_3D_structure(sequence, aminoacids)

In [20]:
protein

     atom_name residue_name residue_seq_number        x        y      z
0            N          MET                  0    0.071   -0.215  0.000
1           CA          MET                  0    1.519   -0.024  0.000
2            C          MET                  0    1.871    1.444  0.000
3            O          MET                  0    1.002    2.328  0.000
4           CB          MET                  0    2.146   -0.745 -1.225
5           CG          MET                  0    1.973   -2.278 -1.266
6           SD          MET                  0    2.996   -2.973 -2.575
7           CE          MET                  0    2.288   -4.625 -2.617
8           2H          MET                  0   -0.376   -1.198  0.000
9           HA          MET                  0    1.932   -0.457  0.930
10         1HB          MET                  0    1.739   -0.316 -2.163
11         2HB          MET                  0    3.231   -0.528 -1.262
12         1HG          MET                  0    2.248   -2.745 -0.302
13         2HG          MET                  0    0.913   -2.536 -1.453
14         1HE          MET                  0    2.337   -5.103 -1.622
15         2HE          MET                  0    2.833   -5.262 -3.335
16         3HE          MET                  0    1.229   -4.582 -2.930
17         HOC          MET                  0    3.813    0.880  0.000
18           N          THR                  1    3.267    1.753  0.000
19          CA          THR                  1    4.726    1.803  0.000
20           C          THR                  1    5.219    3.230  0.000
21           O          THR                  1    4.455    4.175  0.000
22          CB          THR                  1    5.303    1.018 -1.226
23         OG1          THR                  1    4.930   -0.352 -1.162
24         CG2          THR                  1    6.841    0.994 -1.361
25          2H          THR                  1    2.726    0.818  0.000
26          HA          THR                  1    5.091    1.328  0.929
27          HB          THR                  1    4.878    1.458 -2.154
28         HG1          THR                  1    5.253   -0.756 -1.973
29        1HG2          THR                  1    7.173    0.403 -2.235
...        ...          ...                ...      ...      ...    ...
1005        CG          ASN                 61  196.911  105.043  3.174
1006       OD1          ASN                 61  196.028  104.670  2.416
1007       ND2          ASN                 61  197.535  104.157  3.903
1008        2H          ASN                 61  194.755  106.243  4.555
1009        HA          ASN                 61  197.108  106.814  5.485
1010        HO          ASN                 61  196.906  110.545  4.555
1011       1HB          ASN                 61  196.962  107.027  2.391
1012       2HB          ASN                 61  198.397  106.596  3.290
1013      1HD2          ASN                 61  197.103  103.231  3.844
1014      2HD2          ASN                 61  198.202  104.509  4.589
1015         N          LEU                 62  198.601  108.926  4.555
1016        CA          LEU                 62  200.086  108.904  4.674
1017         C          LEU                 62  200.685  110.326  4.838
1018         O          LEU                 62  200.438  111.145  3.774
1019        CB          LEU                 62  200.708  108.121  3.482
1020        CG          LEU                 62  200.421  106.597  3.395
1021       CD1          LEU                 62  200.908  106.043  2.046
1022       CD2          LEU                 62  201.094  105.802  4.528
1023        2H          LEU                 62  198.162  109.631  3.950
1024        HA          LEU                 62  200.345  108.375  5.610
1025        HO          LEU                 62  200.851  111.987  3.966
1026       1HB          LEU                 62  200.383  108.609  2.541
1027       2HB          LEU                 62  201.807  108.262  3.491
1028        HG          LEU                 62  199.326  106.436  3.452
1029      1HD1          LEU                 62  200.686  104.964  1.941
1030      2HD1          LEU                 62  200.418  106.550  1.195
1031      3HD1          LEU                 62  202.000  106.165  1.914
1032      1HD2          LEU                 62  200.898  104.717  4.443
1033      2HD2          LEU                 62  202.192  105.936  4.536
1034      3HD2          LEU                 62  200.723  106.109  5.523

[1035 rows x 6 columns]

## Save do .pdb

In [21]:
def write_atom_to_file(atom_row, aminoacid_seq_number, fd):
    global atom_seq_number
    atom_seq_number += 1
    if 'H' not in atom_row.atom_name:
        template_row =\
        'ATOM    '+\
        ('%d'%atom_seq_number).rjust(3)+\
        '  '+\
        ('%s'%atom_row[0]).rjust(3)+\
        ' '+\
        ('%s'%atom_row.residue_name).rjust(3)+\
        ' A'+\
        ('%d'%aminoacid_seq_number).rjust(4)+\
        '    '+\
        ('%.3f'%atom_row.x).rjust(8)+\
        ('%.3f'%atom_row.y).rjust(8)+\
        ('%.3f'%atom_row.x).rjust(8)+\
        '  1.00  5.99           '+\
        ('C  \n')
        f.write(template_row)

In [22]:
atom_seq_number = 0

with open('inferred_molecule.pdb', 'w') as f:
    for idx in range(len(sequence)):
        for _, atom_row in protein[protein.residue_seq_number == str(idx)].iterrows():
            write_atom_to_file(atom_row, idx, f)

Done!